{% extends 'layout.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1>Login</h1>

  {% if responseMessage == 'Success' %}
    <div class="success">{{ responseMessage }}</div>
  {% elseif responseMessage != null %}
    <div class="alert">{{ responseMessage }}</div>
  {% endif %}

  <form action="/auth" method="POST">
    <input type="email" name="email" placeholder="Email"><br />
    <input type="password" name="password" placeholder="Password"><br />
    <button type="submit">Login</button>
  </form>
{% endblock %}